  body{
    background-color: black;
  }
  
  
  
  .header h1{
    text-align: center;
    color: white;
    font-weight: bolder;
}
  



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1em;
    padding-bottom: 20px;
    padding-left: 15%;
}

nav ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

nav li{
   margin-right: 50%;
}


nav a{
   color: white;
   text-decoration: none;
   text-align: right;
   font-size: 20px;
}
nav a:hover{
   color: red;
   
   border-radius: 35px;
}


.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 4em;
}

.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
} 

.img-row{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   padding: 10px;
}

.img-row img{
   width: 30%;
   height: auto;
   border: 5px solid red;
   border-radius: 30px;
   box-shadow: red;
   flex: 0 0 auto;
   scroll-snap-align: start;
   box-shadow: 0 4px rgba(0,0,0,0.2) white;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   transform-origin: center center;
}

.img-row::-webkit-scrollbar{
   display: none;
}

.img-row img:hover{
   transform: scale(1.1);
   box-shadow:0 4px 16px rgba(0,0,0,0.4);
   gap: 10px;

}

.img-row img:in-viewport{
   opacity: 1;
   transform: translateX(0);
}

.project ,h1,h2{
   text-align: center;
   color: white;
}



h3{
   text-align: center;
   font-weight: bolder;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 2rem;
   color: wheat;
   
}

li{
   padding-left: 30%;
   color: blanchedalmond;
   font-weight: 300;
}
 p{
   color: white;
   padding-left: 8%;
   padding-right: 8%;
   letter-spacing: 0.1vh;
   font-size: 1rem;
   font-weight: bold;
 }

 h2{
   color: wheat;
   font-weight: 900;
   

 }

 footer{
   text-align: center;
   padding-top: 40px;
 }

 .project1 h2{
   color: white;
 }

 li span{
   font-weight: 1000;
 }