body{
    padding: 0;
    background-color: black;
    
}

.header h1{
    color: white;
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
    
}


nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     padding: 1em;
     padding-bottom: 20px;
     padding-left: 30%;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 50%;
}


nav a{
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    border: 1px solid;
}
nav a:hover{
    color: red;
    transform: scale(1.1);
    
    border-radius: 10px;
}

.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img{
    width: 30%;
    height: auto;
    border: 3px solid green;
    border-radius: 30px;
    gap: 30px;
    padding: 10px;
    
}
.img-row img:hover{
    transform: scale(1.1);

    
}

h2{
    color: white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
p{
    padding-right: 40px;
    color: white;
    padding-left: 40px;
}
li{
    color: white;
}
h3{
    color: wheat;

}
footer p{
    text-align: center;
}