body{
    padding: 0;
    background-color: black;
    
}

.head h1{
    color: white;
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
    
}

.head span{
    color: red;
    
}


.nav-bar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     padding: 1em;
     padding-bottom: 20px;
     padding-left: 30%;
}

.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li{
    margin-right: 50%;
}


.nav-bar a{
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}
nav a:hover{
    color: red;
    
    border-radius: 35px;
}

.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about{
    color: white;
    padding-left: 50px;
    line-height: 2.1;
    margin-top: 30px;
}

.about h1{
    text-align: center;
    text-decoration: underline;
    color: red;
    font-size: 35px;

}

.para{
    text-align: justify;
    text-decoration: none;
    font-size: 20px;
}

.para2{
    font-size: 20px;
}

.image {
    width: 300px;
    height: 300px;
    border: 5px solid red;
    border-radius: 50%;
    position: absolute; /* Position the image for better placement */
    right: 100px; /* Push the image to the right side */
    top: 65%; /* Vertically center the image relative to its container */
    transform: translateY(-50%); /* Adjust for perfect vertical alignment */
    overflow: hidden;
}

.image img {
    width: 100%; /* Make the image fit the container width */
    height: 100%; /* Ensure it fills the height of the container */
    object-fit: cover; /* Ensures the image fits within the box without distortion */
}

/* media queries*/


@media (max-width: 768px)  {
    .container{
        max-width: 100%;
        padding: 10px;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-bottom: 10px;
    }
}

@media(max-width: 480px) {
    main{
        padding: 10px;
    }
    div{
        margin-bottom: 10px;
    }
}

footer{
    text-align: center;
    color: white;
}