body{
    background-color: black;
}

.head h1{
    color: red;
    text-align: center;
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1em;
    padding-bottom: 20px;
    padding-left: 30%;
}

nav ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

nav li{
   margin-right: 50%;
}


nav a{
   color: white;
   text-decoration: none;
   text-align: right;
   font-size: 20px;
}
nav a:hover{
   color: red;
   
   border-radius: 35px;
}


.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 4em;
}

.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.content{
    font-size: 20px;
    opacity: calc(59em);
    padding: 30px;
    line-height: 50px;
    color: white ;
    
}

.project{
    color: white;
    
    display: grid;
    grid-template-columns: repeat(, 1fr);
    gap: 20px;
    margin: 20px auto;
    width: 80%;
}

.section{
    border: 3px solid black;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.section p{
    font-size: 20px;
}


.section h2:hover{
    color: blueviolet;
    
}

footer{
    text-align: center;
    color: white;
    font-weight: 900;
}